<%- include('partials/header') %>

    <div class="container container-main">
        <div class="row">
            <div class="col-lg-10 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            Qui suis-je ?
                        </h4>
                        <p class="card-text">
                            Je m'appelle Benjamin, jai 32 ans. J'ai débuté mon cursus universitaire par des études informatiques, puis petit à petit le sport m'a éloigné de cette voie. Après de longues années sans pratiquer, l'arrivée de ma fille m'a donné l'envie de retrouver un ryhtme de vie plus normal (actuellement en poste). C'est donc avec beaucoup d'enthousiasme que j'ai décidé de revenir dans le monde du développement. Il n'est jamais trop tard pour apprendre.

                            J'ai acquis des soft skills dans la logistique qui me semble très similaires à ceux du développement : esprit d'équipe, autonomie, flexibilité, formation, prise d'initiative ou de décision, résolution de problèmes, gestion de projet ...

                            En décembre 2020, je donc pris le tournant  O'Clock (école labellisée Grande Ecole du Numérique). J'ai pu y apprendre les bases du développement web, avec une spécialisation API / data en fin de formation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            Mes compétences ?
                        </h4>

                        <!-- Technologies et langages de programmation -->
                        <h5>
                            Technologies et langages de programmation
                        </h5>
                        <!-- Backend -->
                        <h6>
                            Back-end     
                        </h6>
                        <p class="card-text">
                            <div class="badge-category badge badge-pill badge-projet1">
                                Node.js
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                PostgreSQL
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Sqitch
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                JavaScript
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Express
                            </div>
                        </p>
                        <!-- Frontend -->
                        <h6>
                            Front-end     
                        </h6>
                        <p class="card-text">
                            <div class="badge-category badge badge-pill badge-projet1">
                                HTML
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                CSS
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                JavaScript
                            </div>
                        </p>

                        <!-- Outils, méthodologie et gestion de projet -->
                        <h5>
                            Outils, méthodologie et gestion de projet
                        </h5>
                        <!-- Environnement de développement -->
                        <h6>
                            Environnement de développement     
                        </h6>
                        <p class="card-text">            
                            <div class="badge-category badge badge-pill badge-projet1">
                                Git
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                GitHub
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Linux
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Windows
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Visual Studio Code
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                pgAdmin
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Insomnia
                            </div>
                        </p>

                        <!-- Déploiement -->
                        <h6>
                            Déploiement     
                        </h6>
                        <p class="card-text">            
                            <div class="badge-category badge badge-pill badge-projet1">
                                Heroku
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                AWS
                            </div>
                        </p>

                        <!-- Gestion de projet -->
                        <h6>
                            Gestion de projet     
                        </h6>
                        <p class="card-text">            
                            <div class="badge-category badge badge-pill badge-projet1">
                                Méthodes Agile & Scrum
                            </div>
                            <div class="badge-category badge badge-pill badge-projet1">
                                Trello
                            </div>
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('partials/footer') %>