 </body>
 
 <!-- Footer -->
 <footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; BenjamQuill 2021 - Toutes les informations sont certifiées BD</p>
    </div>
    <!-- /.container -->
  </footer>
